<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load staticfiles %}
{% load  tag_util %}
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Blog</title>
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_javascript_tag %}
    <script src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js"></script>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">

    {% block extra_head %}{% endblock %}
</head>

<body>
{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "index" %}">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% active_page request '/tech'%}" >
                <a href="{% url 'tech' %}">Tech</a></li>
                <li class="{% active_page request '/life'%}" >
                <a href="{% url 'life' %}">Life</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    {% block page_with_sidebar %}
    <div class="page-with-sidebar">
        <div class="page-content-head">
            {% block page_content_head %}{% endblock %}
        </div>

        <div class="page-region col-xs-9">
            {% block page_content %}{% endblock %}
        </div>
    {% include "sidebar.html" %}
    {% endblock %}
    </div>
</div>
{% endblock %}


</body>
</html>
